@import "tailwindcss";

:root {
  --background: #121212;
  --foreground: #FFFFFF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #A8DADC;
  --color-secondary: #FFC1CC;
  --color-card: #1E1E1E;
  --color-border: #2A2A2A;
  --color-card-hover: #2C2C2C;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
