@import "tailwindcss";

:root {
  --background: #121212;
  --foreground: #FFFFFF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #00FF85;
  --color-secondary: #00A3FF;
  --color-card: #1E1E1E;
  --color-border: #2A2A2A;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-mono);
}
