@import "tailwindcss";

:root {
  --background: #0D0D0D;
  --foreground: #FFFFFF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #0070f3;
  --color-primary-text: #ffffff;
  --color-accent: #00FF85;
  --color-accent-2: #1E90FF;
  --color-hover: #FF0099;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-mono);
}
